.btn{
    border-radius: 15px;
    color:white;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
}

.btn-secondary {
background: rgb(80,88,84);

}

.btn-primary {
    background: rgb(85,88,237);
}

.btn-small {
    font-size: 1.4rem;
}

.btn-medium {
    font-size: 1.8rem;
}